.luiz,
.bia,
.emmanuel {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.luiz {
  margin-left: 60vh;
}

.luiz:hover {
  opacity: 0.3;
}

.bia:hover {
  opacity: 0.3;
}

.emmanuel:hover {
  opacity: 0.3;
}
.bia {
  margin-left: 10vh;
}
.emmanuel {
  margin-left: 10vh;
}

.contacts {
  margin-left: 68vh;
}

h2 {
  margin-left: 78vh;
}
.wpp-luiz,
.wpp-bia,
.wpp-emmanuel {
  width: 3%;
}

.gmail-luiz,
.gmail-bia,
.gmail-emmanuel {
  width: 3%;
  margin-left: 5px;
}

.wpp-bia {
  margin-left: 25vh;
}

.wpp-emmanuel {
  margin-left: 26vh;
}
