<h2>Entre em contato com a gente! 😄</h2>
<div class="container">
  <img src="./assets/img/person/luizin.jpg" class="luiz" />

  <img src="./assets/img/person/bia.jpeg" class="bia" />

  <img src="./assets/img/person/manu.jpeg" class="emmanuel" />

  <div class="contacts">
    <img src="./assets/img/whatsapp.png" class="wpp-luiz" />
    <img src="./assets/img/gmail.png" class="gmail-luiz" />

    <img src="./assets/img/whatsapp.png" class="wpp-bia" />
    <img src="./assets/img/gmail.png" class="gmail-bia" />

    <img src="./assets/img/whatsapp.png" class="wpp-emmanuel" />
    <img src="./assets/img/gmail.png" class="gmail-emmanuel" />
  </div>
</div>
