.luiz,
.bia,
.emmanuel {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.luiz {
  margin-left: 60vh;
}
.bia {
  margin-left: 10vh;
}
.emmanuel {
  margin-left: 10vh;
}

.contacts {
  margin-left: 68vh;
}
.wpp-luiz,
.wpp-bia,
.wpp-emmanuel {
  width: 3%;
}

.gmail-luiz,
.gmail-bia,
.gmail-emmanuel {
  width: 3%;
}

.wpp-bia {
  margin-left: 27vh;
}

.wpp-emmanuel {
  margin-left: 26vh;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.luiz:hover .img__description {
  visibility: visible;
  opacity: 1;
}
