table {
    max-width: 75%;
    width: 100%;
    margin: 2em auto;
}

.mat-cell {
    padding: 8px 8px 8px 0;
  }

mat-header-cell, mat-cell {
    justify-content: center;
  }

  mat-paginator {
    max-width: 75%;
    width: 100%;
    margin: 2em auto;
}

.add-button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 10px;
}
