table {
    max-width: 95%;
    width: 100%;
    margin: 2em auto;
}

.mat-cell {
    padding: 8px 8px 8px 0;
  }

mat-header-cell, mat-cell {
    justify-content: center;
  }

  mat-paginator {
    max-width: 75%;
    width: 100%;
    margin: 2em auto;
}

.add-button {
  margin-top: 20px;
  margin-left: 3%;
}

.edit-button {
  margin-right: 5%;
  margin-bottom: 5%;
}

.add-button:hover {
  background-color: rgb(255,223,228);
  font-weight: bold;
}

.edit-button:hover {
  /* box-shadow: 2px 2px 2px 2px rgb(255,223,228); */
  background-color: rgb(66, 66, 230);
  color: white;
}

.delete-button:hover {
  /* box-shadow: 2px 2px 2px 2px rgb(255,223,228); */
  background-color: rgb(255, 46, 46);
  color: white;
}

.td-button {
  padding-right: 2px !important;
}

.paginator {
  margin-top: 0px;;
  margin-right: 1%;
}