<p>
  <mat-toolbar class="header">
    <span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon style="color: white;">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/about">About</button>
        <button mat-menu-item routerLink="/contact-us">Contact us</button>
      </mat-menu>
    </span>
    <a routerLink="/home" class="logo">
      <img src="./assets/img/logo-header.png" class="logo">
    </a>
    <span class="example-spacer"></span>
    <button mat-raised-button class="mat-button-base" routerLink="/list">Go to tasks!</button>
  </mat-toolbar>
</p>
