.body {
    text-align: center;
}

h3 {
    margin-top: 3%;
}

mat-icon {
    font-size: 30px;
}

.no-button {
    background-color: rgb(204, 204, 204);
    width: 80px;
}

.yes-button {
    margin-right: 33px;
    /* background-color: sandybrown; */
    width: 80px;
}

.yes-button:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    background-color: rgb(255,204,0);
}

.no-button:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}