.content {
    height: 100vh;
    width: 100%;
  }

  .background{
    height: 100vh;
    width: 100%;
    background-color: #283593;
    display: flex;
    justify-content: center;
  }

.error {
    display: flex;
    height: 70vh;
    width: 70vw;
    margin-top: 15vh;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
}

.message {
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 10;
}

.sub-message {
    margin: auto;
    padding-top: 0;
    margin-top: 0;
}

p {
    display: flex;
    justify-content: center;
    font-size: 8vh;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}
